body {
  margin: 0;
}
body .header-cap {
  background-color: rgb(145, 135, 204);
  padding: 0 10%;
  display: flex;
  justify-content: space-around;
}
body .header-cap img {
  width: 100px;
  height: 100px;
}
body .header-cap .burger-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-left: 60px;
}
body .header-cap .burger-menu p {
  margin: 0;
  margin-left: 20px;
  font-size: 48px;
  font-family: Chiller;
  color: #790604;
}
body .header-cap .burger-menu svg {
  color: #790604;
}
body .header-cap span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
body .header-cap span p {
  margin: 0;
  margin-left: 20px;
  font-size: 20px;
}
body .header-cap .registration {
  display: flex;
}
body .header-cap .registration a {
  display: flex;
  text-decoration: none;
  align-items: center;
}
body .header-cap .registration a:hover {
  text-decoration: none;
}
body .header-cap .registration a svg {
  width: 30px;
  height: 30px;
  margin-right: 40px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-wrap: wrap;
}
.content .category {
  width: 20%;
  height: 120px;
  align-content: center;
  display: flex;
}
.content .category a {
  margin: auto;
  align-self: center;
}

.breadcrumb {
  width: 100%;
}
.breadcrumb span {
  padding: 10px;
}

.category-page-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.category-page-container .left-panel {
  width: 20%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: lightgray;
}
.category-page-container .left-panel a {
  padding: 10px;
  text-decoration: none;
  font-size: 22px;
}
.category-page-container .left-panel a:hover {
  text-decoration: none;
}
.category-page-container .product-content {
  width: 100%;
}
.category-page-container .product-content h1 {
  text-align: center;
  font-size: 32px;
}
.category-page-container .product-content h1:first-letter {
  text-transform: uppercase;
}
.category-page-container .product-content .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.category-page-container .product-content .products .product {
  width: 35%;
  max-width: 300px;
}
.category-page-container .product-content .products .product .manufacturer {
  color: purple;
  font-size: 24px;
}
.category-page-container .product-content .products .product .manufacturer:first-letter {
  text-transform: uppercase;
}
.category-page-container .product-content .products .product .price {
  font-size: 18px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.category-page-container .product-content .products .product .price .oldPrice {
  text-decoration: line-through;
  color: grey;
}
.category-page-container .product-content .products .product .price .newPrice {
  color: red;
}
.category-page-container .product-content .products .product .price .discount {
  position: absolute;
}
.category-page-container .product-content .nav-bar {
  width: 30%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.category-page-container .product-content .nav-bar svg {
  width: 50px;
  height: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
}
.category-page-container .product-content .sort {
  width: 30%;
  margin-left: 70%;
  margin-bottom: 20px;
  margin-top: 40px;
}
.category-page-container .product-content .sort img {
  width: 80px;
  height: 80px;
  margin: 0 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background: whitesmoke;
}
.category-page-container .product-content .sort img.active {
  background-color: lightgray;
  padding: 5px;
}

.product-page-container {
  margin: auto;
}
.product-page-container img {
  margin: auto;
  display: block;
}
.product-page-container h1 {
  text-align: center;
  margin: 20px 0;
}
.product-page-container .manufacturer {
  color: purple;
  font-size: 22px;
}
.product-page-container .price {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.product-page-container .price .oldPrice {
  text-decoration: line-through;
  color: grey;
}
.product-page-container .price .newPrice {
  color: red;
}

.registration-page {
  margin: 60px auto;
  padding: 60px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: whitesmoke;
}
.registration-page form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.registration-page form * {
  margin: 10px auto;
}

.links {
  display: flex;
  justify-content: space-between;
}

.personal-page {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}
.personal-page .left-panel {
  width: 20%;
  margin-left: 5%;
}
.personal-page .left-panel p {
  border: 1px solid black;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
}
.personal-page .left-panel p:hover {
  background-color: lightgray;
}
.personal-page .home-content {
  width: 60%;
}
.personal-page .home-content div {
  display: none;
}
.personal-page .home-content .active {
  display: block;
}

