body {
    margin: 0;

    .header-cap {
        background-color: rgb(145, 135, 204);
        padding: 0 10%;
        display: flex;
        justify-content: space-around;

        img{
            width: 100px;
            height: 100px;
        }

        .burger-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            margin-left: 60px;

            p{
                margin: 0;
                margin-left: 20px;
                font-size: 48px;
                font-family: Chiller;
                color: #790604;
            }

            svg{
                color: #790604;
            }
        }

        span{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;

            p{
                margin: 0;
                margin-left: 20px;
                font-size: 20px;
            }
        }
        .registration{
            display: flex;

            a{
                display: flex;
                text-decoration: none;
                align-items: center;

                &:hover{
                    text-decoration: none;
                }

                svg{
                    width: 30px;
                    height: 30px;
                    margin-right: 40px;
                }
            }
        }
    }
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.content{
    display: flex;
    flex-wrap: wrap;

    .category{
        width: 20%;
        height: 120px;
        align-content: center;
        display: flex;

        a{
            margin: auto;
            align-self: center;
        }
    }
}

.breadcrumb{
    width: 100%;

    span{
        padding: 10px;
    }
}

.category-page-container{
    display: flex;
    height: 100%;
    width: 100%;

    .left-panel{
        width: 20%;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        background-color: lightgray;

        a{
            padding: 10px;
            text-decoration: none;
            font-size: 22px;

            &:hover{
                text-decoration: none;
            }
        }
    }

    .product-content{
        width: 100%;

        h1{
            text-align: center;
            font-size: 32px;

            &:first-letter{
                text-transform: uppercase;
            }
        }

        .products{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .product{
                width: 35%;
                max-width: 300px;

                .manufacturer{
                    color: purple;
                    font-size: 24px;

                    &:first-letter{
                        text-transform: uppercase;
                    }
                }

                .price{
                    font-size: 18px;
                    margin: auto;
                    display: flex;
                    justify-content: space-around;

                    .oldPrice{
                        text-decoration: line-through;
                        color: grey;
                    }

                    .newPrice{
                        color: red;
                    }

                    .discount{
                        position: absolute;
                    }
                }
            }
        }

        .nav-bar{
            width: 30%;
            display: flex;
            justify-content: space-around;
            margin: auto;

            svg{
                width: 50px;
                height: 50px;
                padding: 10px;
                border: 1px solid black;
                border-radius: 15px;
            }
        }

        .sort{
            width: 30%;
            margin-left: 70%;
            margin-bottom: 20px;
            margin-top: 40px;

            img{
                width: 80px;
                height: 80px;
                margin: 0 50px;
                padding: 10px;
                border: 1px solid black;
                border-radius: 10px;
                background: whitesmoke;
            }

            img.active{
                background-color: lightgray;
                padding: 5px;
            }
        }
    }
}
.product-page-container{
    margin: auto;

    img{
        margin: auto;
        display: block;
    }

    h1 {
        text-align: center;
        margin: 20px 0;
    }

    .manufacturer{
        color: purple;
        font-size: 22px;
    }

    .price{
        width: 50%;
        display: flex;
        justify-content: space-around;
        margin: auto;

        .oldPrice{
            text-decoration: line-through;
            color: grey;
        }

        .newPrice{
            color: red;
        }
    }
}
.registration-page{
    margin: 60px auto;
    padding: 60px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: whitesmoke;

    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        *{
            margin: 10px auto;
        }
    }
}
.links{
    display: flex;
    justify-content: space-between;
}

.personal-page{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;

    .left-panel{
        width: 20%;
        margin-left: 5%;

        p{
            border: 1px solid black;
            border-radius: 12px;
            padding: 10px;
            text-align: center;

            &:hover{
                background-color: lightgray;
            }
        }
    }
     .home-content{
         width: 60%;

         div{
             display: none;
         }

         .active{
             display: block;
         }
     }
}
